@charset "utf-8";


/*PC・タブレット・スマホ共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #436308;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff url(../images/bg.jpg) no-repeat center center fixed;		/*背景指定（古いブラウザ用）*/
	background: #fff url(../images/bg.jpg) no-repeat center center/cover fixed;	/*背景指定*/
	-webkit-text-size-adjust: none;
}
h2{margin: 0px;padding: 0px;font-size: 200%;}


h1,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
a:hover img {opacity: 0.6}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*h2見出しタグの設定
---------------------------------------------------------------------------*/
h2 {
	clear: both;
	margin-bottom: 15px;
	color: #fff;			/*文字色*/
	padding: 5px 20px;		/*上下、左右への余白*/
	background: #436308;	/*背景色*/
	border-radius: 4px;		/*角丸のサイズ。大きくすれば角の丸みが大きくなる。角丸が不要ならこの１行削除。*/
}

/*h3見出しタグの設定
---------------------------------------------------------------------------*/
h3 {
	clear: both;
	margin-bottom: 15px;
	padding: 3px 20px;			/*上下、左右への余白*/
	border-radius: 4px;			/*角丸のサイズ。大きくすれば角の丸みが大きくなる。角丸が不要ならこの１行削除。*/
	border: 2px solid #436308;	/*枠線の幅、線種、色*/
}

/*段落タグ設定
---------------------------------------------------------------------------*/
p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}

/*リンク設定
---------------------------------------------------------------------------*/
a {
	color: #436308;	/*リンクテキストの色*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
a:hover {
	color: #d50f26;	/*マウスオン時の文字色*/
}

/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/
#container {
	width: 80%;					/*ブロックの幅を画面の80%にする設定。*/
	max-width: 1000px;			/*上のwidth指定の追加設定。幅1000pxを最大幅に設定し、それ以上広げない。*/
	margin: 5% auto 0px;		/*HP画面の左右中央に表示させる設定。最初の5%は上(コンテナーの外側)に空ける余白の指定。*/
	background: #fff;					/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.7);	/*背景色。rgba値は左３つが色指定(この場合は白)で最後の小数点が透明度。*/
	border-radius: 10px;	/*角丸のサイズ。大きくすれば角の丸みが大きくなる。角丸が不要ならこの１行削除。*/
	padding: 4%;			/*ブロック内の余白*/
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);	/*影の設定。右へ・下へ・ぼかし幅・色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);			/*同上*/
	overflow: hidden;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
	text-align: center;	/*ヘッダーブロックの内容をセンタリングする設定*/
}
/*ロゴ画像設定*/
#logo  img {
	width: 80%;			/*画像幅を上で設定している「container」の80%にする設定。*/
	max-width: 500px;	/*上の行の指定だけだと大きくなりすぎる場合があるので、最大幅(max-width)を500pxに指定。これ以上大きくならない。*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニュー全体を囲むブロック*/
#menubar {
	margin: 50px 0px;	/*メニューブロックの上下(ブロックの外側)に空けるスペース*/
	border-top: 3px solid #436308;		/*上の線の幅、線種、色*/
	border-bottom: 3px solid #436308;	/*下の線の幅、線種、色*/
	text-align: center;	/*メニューブロックの内容をセンタリングする設定*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	display: inline;	/*横並びにする設定*/
}
#menubar li a {
	text-decoration: none;
	padding: 10px 20px;				/*10pxは上下に、20pxは左右へ空ける余白指定。*/
	color: #436308;					/*文字色*/
	font-size: 20px;				/*文字サイズを少し大きくする設定。お好みで変更して下さい。*/
	letter-spacing: 0.2em;			/*文字感覚を少し広くする設定。広くしないでいいなら、この１行を削除。*/
display: inline-block;
width: 25%;
}
/*マウスオン時の設定*/
#menubar li a:hover {
	background: #436308;	/*背景色*/
	color: #fff;			/*文字色*/
}

/*Galleryページ
---------------------------------------------------------------------------*/
/*画像の設定*/
.list figure img {
	float: left;	/*左に回り込みさせる設定*/
	width: 18%;		/*画像の幅*/
	margin: 0px 1% 15px;	/*画像の外側に空けるスペース。左から、上(0px)、左右(1%)、下(15px)への設定。*/
	border-radius: 50%;		/*角丸のサイズ。50%にすると円形になる。正方形がいいなら、この１行削除する。*/
}

/*フッター(ページ最下部のcopyrightのパーツ)設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;	/*文字をセンタリング*/
	padding: 10px 0px;	/*左から、上下、左右への余白*/
	color: #fff;		/*文字色*/
	text-shadow: 1px 1px rgba(0,0,0,0.8);	/*テキストの影。右へ、下へ、色(rgba)の設定。rgba値は左３つが色指定(この場合は黒)で最後の小数点が透明度。*/
}
footer a {
	text-decoration: none;
	border: none;
	color: #fff;	/*文字色*/
}
footer .pr {
	display: block;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding-left: 20px;
	margin-bottom: 15px;
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*tテーブルブロック設定*/
.ta1 {
	width: 100%;
	margin-bottom: 15px;
}
.ta1, .ta1 td, .ta1 th {
	border: 2px solid #436308;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;			/*テーブル内の余白*/
	word-break: break-all;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #eee;	/*背景色*/
}
/*テーブルの左側ボックス*/
.ta1 th {
	width: 30%;	/*幅*/
	text-align: center;	/*センタリング*/
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #333; color: #fff;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.color1 {color:#d50f26;}
.pr {font-size: 10px;}



/*画面幅600px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:600px){

/*メニュー
---------------------------------------------------------------------------*/
/*メニュー全体を囲むブロック*/
#menubar {
	margin: 15px 0px;	/*メニューブロックの上下(ブロックの外側)に空けるスペース*/
	border-bottom: none;	/*共通設定で指定していた下線をなしにする設定*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	display: block;	/*メニューを「横並び」から「縦並び」に変更する設定*/
	margin-bottom: 5px;
	border-bottom: 3px solid #436308;	/*下の線の幅、線種、色を追加指定*/
}

/*Galleryページ
---------------------------------------------------------------------------*/
/*画像の設定*/
.list figure img {
	width: 48%;		/*画像の幅*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
#new h2.open {
	background: #436308 url(../images/btn_minus.png) no-repeat right center/34px 34px;
}
#new h2.close {
	background: #436308 url(../images/btn_plus.png) no-repeat right center/34px 34px;
}

/*テーブル
---------------------------------------------------------------------------*/
/*tテーブルブロック設定*/
.ta1, .ta1 td, .ta1 th {
	padding: 5px;			/*テーブル内の余白*/
}

}
